.container {
   height: 100vh; /* Usa a altura da viewport para garantir que o container ocupe toda a altura */
   background: linear-gradient(180deg, #0078D4 0%, #00A9E0 100%); /* Gradiente de azul Orkut */
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem; /* Adiciona preenchimento para garantir que o conteúdo não encoste nas bordas */
}

.form {
   width: 100%;
   max-width: 25rem; /* Define a largura máxima da forma */
   background-color: #ffffff; /* Cor de fundo neutra para clareza */
   padding: 2rem;
   border-radius: 0.75rem; /* Arredondamento elegante */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação suave */
}

h1 {
   margin-bottom: 1.5rem;
   font-size: 1.5rem;
   color: #003C71; /* Azul escuro para transmitir estabilidade e confiança */
   text-align: center; /* Garante que o texto esteja centralizado */
   width: 100%;
}

img {
   height: auto; /* Mantém a proporção da imagem */
   max-height: 10rem; /* Valor máximo de altura para garantir que a imagem não fique muito grande */
   width: auto;
   display: block; /* Remove o alinhamento automático desnecessário */
   margin: 0 auto 1.5rem;
}

.full-width {
   width: 100%;
}

button {
   margin-top: 1rem; /* Margem superior para um layout mais compacto */
   background-color: #0078D4; /* Azul Orkut para ação positiva */
   color: #ffffff; /* Texto branco para contraste */
   border: none; /* Remove bordas padrão */
   border-radius: 0.5rem; /* Arredondamento dos cantos do botão */
   padding: 0.75rem 1.5rem; /* Preenchimento do botão */
   cursor: pointer; /* Adiciona cursor pointer para indicar clicabilidade */
   transition: background-color 0.3s; /* Transição suave para mudança de cor */
}

button:hover {
   background-color: #005A9E; /* Azul mais escuro para efeito de hover */
}

mat-icon {
   opacity: 0.8; /* Aumenta a visibilidade dos ícones */
   color: #0078D4; /* Cor dos ícones alinhada com a cor do botão */
}

